.navbar{
  width:100%;
  height:60px;
  background:white;
  border-bottom:2px solid #dde4f4;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow:0 5px 12px rgba(0,0,0,.08);
  position:sticky;
  top:0;
  z-index:10;
}

.nav-inner{
  width:92%;
  max-width:1350px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

/* RIGHT — LOGO */
.nav-logo{
  font-size:1.7rem;
  font-weight:900;
  color:#1f2a44;
  letter-spacing:1px;
}

/* LEFT — BACK BUTTON */
.back-btn a{
  text-decoration:none;
  font-weight:800;
  font-size:1.05rem;
  color:#1f2a44;
}

.back-btn a:hover{
  color:#2f7ae5;
}
